.container {
    height: 300vh;
    padding-top: 130vh;
    background-color: antiquewhite;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content > div {
    color: white;
    font-family: Arial;
    font-size: 35px;
}